@font-face {
    font-family: Instrument Sans;
    src: url("assets/Instrument_Sans/InstrumentSans-VariableFont_wdth\,wght.ttf");
}
body {
    background-color: #101010;
    color: rgb(55, 55, 55);
    font-family: Instrument Sans;
    background-image: url("assets/halftone_2.png");
    background-size: 100% auto;
    background-position: top center;
}
#navbar {
    width: 100%;
    text-align: left;
}
.navbutton {
    display: inline-block;
    padding: 30px;
    margin: 0px auto;
    font-size: 8pt;
    color: rgb(255, 255, 255, 0.5);
}
.navbutton:hover {
    display: inline-block;
    padding: 30px;
    margin: 0px auto;
    font-size: 8pt;
    color: rgba(255, 255, 255);
    transition: 300ms;
}
.iconbutton {
    float: right;
    width: 20px;
    padding: 30px;
    opacity: 0.5;
}
.iconbutton:hover {
    float: right;
    width: 20px;
    padding: 30px;
    opacity: 1;
    transition: 300ms;
}
.icon {
    width:40px;
    padding: 10px 10px 10px 30px;
    float: left;
}
