* {
    box-sizing: border-box;
}
@font-face {
    font-family: Instrument Sans;
    src: url("assets/Instrument_Sans/InstrumentSans-VariableFont_wdth\,wght.ttf");
}
body {
    background-color: #101010;
    color: white;
    font-family: Instrument Sans;
    background-image: url("assets/halftone_2.png");
    background-size: 100% auto;
    background-position: top center;
    margin: 0;
}
a {
    text-decoration: none;
}
.halftone-bg {
    background-color: #101010;
    color: white;
    padding: 100px 60px;
    text-align: left;
    font-family: 'Instrument Sans', sans-serif;
    background-image: url(../css/assets/halftone_2.png);
    background-size: 100% auto;
}

/* nav bar */
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    width: 100%;
}
.navlinks {
    display: flex;
    align-items: center;
    gap: 30px;
}
.navbutton {
    font-size: 8pt;
    color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    transition: color 0.3s ease;
}
.navbutton:hover {
    color: white;
}
.icon {
    width: 40px;
    transition: transform 0.3s ease;
}
.icon:hover {
    transform: rotate(5deg);
}
.iconbutton {
    width: 20px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}
.iconbutton:hover {
    opacity: 1;
}

/* main content */
.section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 60px;
}
#container {
    display:flex;
    flex-direction: column;
}
.header {
    text-align: center;
}
.header h1 {
    font-size: 80pt;
    text-align: center;
    font-weight: 600;
    margin: 0;
    margin-top: -30px;
}
.tagline {
    font-size: 20pt;
    z-index: 1;
    position: relative;
    color: rgb(255, 255, 255, .5);
}
.title {
    margin-top: -50px;
    font-weight: 600;
    font-size: 110pt;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
}
h2 {
    font-size: 30pt;
}
p {
    font-size: 16pt;
}

/* footer */
#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    background-color: #101010;
    color: white;
    padding: 90px 60px;
    text-align: left;
    font-family: 'Instrument Sans', sans-serif;
}
.footerimg {
    width: 300px;
    height: auto;
}
#footer-links {
    display: flex;
    gap: 20px;
}
.footer-link {
    font-size: 9pt;
    color: rgb(255, 255, 255, 0.5);
}
.footer-link:hover {
    color: rgb(255, 255, 255);
    transition: 300ms;
}
.rights {
    font-size: 9pt;
    color:rgb(255, 255, 255, 0.5);
    margin: 0px;
}

@media (max-width: 767px) {
    .title {
        margin-top: -30px;
        font-weight: 600;
        font-size: 60pt;
    }
    h2 {
        font-size: 20pt;
    }
    p {
        font-size: 14pt;
    }
    #footer {
        flex-direction: column;
        flex-wrap: wrap;
    }
    #footer-brand, #footer-links {
        width: 100%
    }
}