h1{
    font-size:50pt;
    font-family:'instrument-sans-variable',sans-serif;
}

#productinfo{
    display:flex;

}
#productimage{
    width:50%;margin-right:75px;


}
#productdescription{
    width: 50%;
    margin-left: 50px;
    font-size: 20pt;
    font-family:'instrument-sans-variable',sans-serif;
    color:#FFE45C;
}
#boxcover{
    width: 90%;
    margin-top:50px;
    border: #FF9C39
    solid 5px;

    
}
#producttitle{
    text-align: center;
    color: white;
}
#charactergraphic{
    width:200px;
    margin-top:100px;
    margin-left: 40%;
}
.comic{
    margin:20px;
    height:250px;
    border: #0D68A9 solid 5px;

}
.comicline{
    display:flex;
    justify-content: flex-start;
    width: 100%;
}
h2{
    margin-left:30px;
    color:#FFE45C;
    font-style: italic ;


}
#instructiontitle{
    text-align: center;
    margin-top:100px;
    color: #FF9C39;

    text-decoration: underline;
    text-underline-offset: 15px;
    
}
#buybutton{
    background-color: #FF9C39;
    color: black;
    font-size: 16pt;
    font-family: 'instrument-sans-variable', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}


