
    .header img.logo {
      width: 120px;
      margin-bottom: 10px;
    }

    .group-image-section {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 40px auto;
      gap: 10px;
      width: 50%;
    }

    .group-placeholder {
        width: 600px;
        height: 350px;
        background-color: #333;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #aaa;
        font-size: 20px;
        font-style: italic;
    }

    .group-image-section img.accent {
        width: 100px;
        height: auto;
    }

    .bios {
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: space-evenly;
      width: 100%;
      padding-top: 20px;
    }

    .bio {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 50px;
      width: 100%;
    }

    .bio-box {
      background-color: #0D68A9;
      padding: 30px;
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      border-radius: 16px;
      box-sizing: border-box; 
    }

    .bio-img-container {
        min-width: 200px;
        height: 200px;
        border-radius: 60%;
        overflow: hidden;
        border: 5px solid #FF5050; 
    }

    .bio-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

    .bio:nth-child(2) .bio-img-container {
        border-color: #FF9C39; 
        
    }

    .bio:nth-child(3) .bio-img-container {
        border-color: #FFE45C; 
    }

    .bio h3 {
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 4px;
      text-align: center;
    }
    .bio:nth-child(1) h3 {
        color: #FF5050;
        font-size: 20pt;
    }

    .bio:nth-child(2) h3 {
        color: #FF9C39; 
        font-size: 20pt;

    }

    .bio:nth-child(3) h3 {
        color: #FFE45C; 
        font-size: 20pt;

    }

    .bio h4 {
        font-weight: 400; 
        color: #e0e0e0;   
    }

    .bio h4 {
      font-weight: 600;
      margin-top: 0;
      font-size: 16px;
      text-align: center;
    }

    .bio p {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.6;
      margin-top: 16px;
      text-align: justify;
    }
    .character-graphic {
        display: block;
        margin: 0 auto 20px auto;
        width: 460px;
        height: auto;
        filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.6));
    }
    hr {
      width: 100%;
    }

    @media (max-width:767px) {
      .bios {
        gap: 20px;
      }
      .bio {
        flex-direction: column;
        align-items: center;
        margin: 0px auto;
        padding: 60px;
        gap: 20px;
      }
      .bio-box {
        width: 100%;
        flex: none;
      }
      .bio-img-container {
        width: 300px;
        min-height: 300px;
    }

  }